AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_ACCOUNT_ID=your_12_digit_account_id
S3_BUCKET_NAME=your-s3-bucket-name
SAGEMAKER_ROLE_ARN=arn:aws:iam::YOUR_ACCOUNT_ID:role/SageMakerExecutionRole
SAGEMAKER_ENDPOINT_NAME=canadian-sentiment-endpoint
PORT=5003
